<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <style>
        body{
            background: url(https://images.unsplash.com/uploads/1412750321034baa5d127/d35c5980?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    
<h1 style="text-align: center; margin-top: 10px; color: white;">ABOUT</h1>
<p style=" justify-content: center; margin-top: 30px; color: white; font-size: 18px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nemo reiciendis expedita error quibusdam vel magnam laborum quasi neque minus consequuntur dolor voluptas debitis ut, nam, iusto quis optio. Consequatur?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab alias omnis libero tenetur, at unde odio reiciendis doloribus quam non eius deserunt quibusdam ullam reprehenderit impedit facilis, officia, dolores est.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, fugiat. Vero reprehenderit possimus quidem obcaecati, error minus voluptates vel architecto cupiditate neque soluta voluptas fugit harum fuga minima at deleniti.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ut facilis obcaecati velit accusamus expedita cumque iste dolorum, dignissimos minima? Repudiandae quas consectetur minus nulla explicabo? Cum libero ipsam totam!</p>

<img src="{% static 'image/about.avif' %}" alt="image" style="width: 400px; height: auto; margin-left: 600px; margin-top: 25px; border: 1px solid white; border-radius: 15px;">
</body>
</html>